<div class="board">
  <div class="row">
    <div class="col">
      <h2>A1</h2>
    </div>
    <div class="col">
      <h2>A2</h2>
    </div>
    <div class="col">
      <h2>A3</h2>
    </div>
    <div class="col">
      <h2>A4</h2>
    </div>
    <div class="col">
      <h2>A5</h2>
    </div>
    <div class="col">
      <h2>A6</h2>
    </div>
    <div class="col">
      <h2>A7</h2>
    </div>
    <div class="col">
      <h2>A8</h2>
    </div>
    <div class="col">
      <h2>A9</h2>
    </div>
    <div class="col">
      <h2>A10</h2>
    </div>
  </div>
</div>
