.board {
  background-image: url('../img/clue_board.svg');
  background-size: cover;
  height: 60vw;
  width: 60vw;
  margin: 0;
  padding: 0;
}

.row {
  flex-wrap: nowrap;
  box-sizing: border-box;
  margin: 0;
  height: 6vw;
}

.col {
  padding: 0;
  width: 6vw;
}

.game {
  margin-left: 20vw;
}
