body {
  background-color: #63989D;
  background-image: url('../img/cats.svg');
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Yatra One', cursive;
}

label {
  font-size: 2em;
}


.board {
  background-image: url('../img/clue_board.svg');
  background-size: cover;
  height: 70vw;
  width: 70vw;
  margin: 0;
  padding: 0;
  float: left;
}

.row {
  flex-wrap: nowrap;
  box-sizing: border-box;
  margin: 0;
  height: 7vw;
}

.col {
  padding: 0;
  width: 7vw;
}

.playerView {
  float: right;
}

.player-piece {
  z-index: 10;
  width: 6vw;
  height: 6vw;

}

.card {
  display: inline-block;
  height: auto;
}

.card-title {
  font-size: 90%;
  text-align: center;
}

.card-img-bottom {
  width: 9vw;
  height: auto;
}

.btn {
  margin-top: 10px;
}

.card {
  width: 70%;
  padding: 15px;
}

.homePage {
  text-align: center;
  padding-top: 40%;
}

.playerSelect {
  text-align: center;
  padding-top: 30%;
}

.playerGuess {
  text-align: center;
  padding-top: 23%;
}
